@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



:root{
    -cor-jumbotron-button-dashboard-inicial: red;

}


body{
    font-family: 'Roboto',sans-serif;
    background-color: rgb(221, 221, 221);
}

.preco-card{
    font-weight: bold;
}

.card img{
    height: 250px;
}
.icons-navbar{
    width: 2em;
    display: flex;
}

.jumbotron{
    background-image: url("../images/Foto\ principal.jpg");
    background-position: center;
    background-size: cover;
    padding: 10rem;
}

 #jumbotron-dashboard{
    background-image: url("../images/Foto\ campanha.jpg");
    background-position: center;
    background-size: cover;
    padding: 10rem;
}

nav{
    background-color: blue;
}

.Button-Jumbotron{
    color: var(-cor-jumbotron-button-dashboard-inicial) !important;

}


.Button-Jumbotron a{
    text-decoration: none;
    color: #fff;
    
}

.Button-Jumbotron:hover{
    background-color: rgba(238, 5, 5, 0.719);
}







